@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face { 
    font-family: "cerapro-medium"; 
    src: url("/cerapro-medium.otf"); 
  }
}
@layer base {
  @font-face { 
    font-family: "cerapro-regular"; 
    src: url("/cerapro-regular.otf"); 
  }
}


@import "tailwind"


